.divWithBorder{
border-style: solid;
border: 2px;
border-color: black;
width: 800px;
height: auto;
margin: 20px;
padding: 5px;

}

.userTable{
border-style: solid;
border: 2px;
border-color: black;
width: 800px;
height: auto;
margin: 20px;
padding: 5px;
text-align: center;
}

.trHeader{
    font-size:18px;
    color: blue;
}